node_modules
__pycache__
*.pyc
QuestionAnswerLog.csv
build
dist
.DS_Store
.log
terraform.tfstate
.vscode
*.log
.venv

# Secret Config Files
*/secrets/*
*password.txt

# Mentor Data Files
*/temp
*/build
*/videos