node_modules
.netrc
__pycache__
*.pyc
QuestionAnswerLog.csv
build
dist
.DS_Store
.log
terraform.tfstate
.vscode
resources
*.log
.venv

# Secret Config Files
*/secrets/*
*password.txt

# Mentor Data Files
*/recordings/*
*/temp/*
*prompts_utterances.csv
*gquestions_paraphrases_answers.csv
