__pycache__
node_modules
QuestionAnswerLog.csv
build
dist
terraform.tfstate
htmlcov

# Mentor Data Files
*/temp
*/build
*/videos
*.log
*password.txt
*.pyc

.coverage
.coverage.*
.DS_Store
.env
.log
.password
.venv
.vscode