certifi==2019.6.16
chardet==3.0.4
dataclasses==0.6
ffmpy==0.2.2
ftfy==5.6
gdown==3.8.1
idna==2.8
numpy==1.16.4
pandas==0.24.2
pymediainfo==4.0
python-dateutil==2.8.0
pytz==2019.1
PyYAML==5.1.2
requests==2.22.0
urllib3==1.25.3
watson-developer-cloud==2.10.1
websocket-client==0.48.0
