<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="/papaparse.min.js"></script>
	<script src="/socket.io.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
	<script src="/watson-speech.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/index.css">
	<title>ICT MentorPal</title>
  <style>
    /* Make the image fully responsive */
    .carousel-inner img {
        width: 100%;
        height: 100%;
    }
  </style>
</head>
<body>
  <nav id = navSize class="navbar navbar-light" style="background-color: #d9dbdf; height: 85px">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><img src ="/Logo_MentorPal.png"></a>
      </div>
      <div class="dropdown ml-auto">
        <button class="btn btn-primary dropdown-toggle choose-mentor" type="button" style = "width: 200px; height: 50px; font-size: 19px" data-toggle="dropdown">Choose Mentor
        <span class="caret"></span></button>
        <div class="dropdown-menu">
          <li style = "padding: 12px; font-size: 24px"><a  href="/clint">Clint</a></li>
          <li style = "padding: 12px; font-size: 24px"><a  href="/dan">Dan</a></li>
          <li style = "padding: 12px; font-size: 24px"><a  href="/julianne">Julianne</a></li>
          <li style = "padding: 12px; font-size: 24px"><a  href="/carlos">Carlos</a></li>
        </div>
          <button style="visibility:hidden"></button>
          <a href="http://ict.usc.edu" <class="navbar-brand" "mr-sm-2"><img src="/ICT.png"></a>
      </div>
  </nav>
<div id = "col" class = "wrap">
	<div id = "mainSize" class="container">
    <div class= "row" style="padding-top: 40px">
      <div id="demo" class="carousel slide" data-ride="carousel" style="height: 620px; width: 1280px">

        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active" style="height: 720px; width: 1140px">
          	<div class = "embed-responsive embed-responsive-16by9">
                <video src = "https://pal3.ict.usc.edu/resources/mentor/clint/clintanderson_A1_1_1.ogv" class ="video" id = "videoPlayer" width="1280px" height="720px" controls="false" autoplay>
                </video>
            </div>
          </div>
          <div class="carousel-item" style="height: 720px; width: 1140px">
            <div class = "embed-responsive embed-responsive-16by9">
              <video src = "https://pal3.ict.usc.edu/resources/mentor/clint/clintanderson_A1_1_1.ogv" class ="video" id = "videoPlayer" width="1280px" height="720px" controls="false" autoplay>
              </video>
            </div>
          </div>
          <div class="carousel-item" style="height: 720px; width: 1140px">
            <div class = "embed-responsive embed-responsive-16by9">
              <video src = "https://pal3.ict.usc.edu/resources/mentor/clint/clintanderson_A1_1_1.ogv" class ="video" id = "videoPlayer" width="1280px" height="720px" controls="false" autoplay>
              </video>
            </div>
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </div>
  </div>
</div>



</body>
</html>
