<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="/papaparse.min.js"></script>
		<script src="/socket.io.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
		<script src="/watson-speech.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/index.css">
		<title>ICT MentorPal</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	</head>
	<body onresize="resizeFix()">
		<div id="myNav" class="overlay" style="padding-left: 20px; padding-right: 20px">
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			<div id="myOverlay" class="overlay-content">
				<h2>Welcome to MentorPal!</h2>
				<h3>Click on the topic buttons to get suggested questions.</h3>
				<h3>Toggle to the Transcript or turn on Closed Captions to read with the Mentor.</h3>
			</div>
		</div>
		<nav id = navSize class="navbar navbar-light" style="background-color: #d9dbdf; height: 85px">
				<div class="navbar-header">
					<a class="navbar-brand" href="/"><img src ="/Logo_MentorPal.png"></a>
				</div>
				<div class="dropdown">
					<button class="btn btn-primary dropdown-toggle choose-mentor button-color" type="button" style = "width: 200px; height: 50px; font-size: 19px" data-toggle="dropdown">Choose Mentor
						<span class="caret"></span>
					</button>
					<div class="dropdown-menu">
						<li style = "padding: 12px; font-size: 24px"><a  href="/clint">Clint</a></li>
						<li style = "padding: 12px; font-size: 24px"><a  href="/dan">Dan</a></li>
						<li style = "padding: 12px; font-size: 24px"><a  href="/julianne">Julianne</a></li>
						<li style = "padding: 12px; font-size: 24px"><a  href="/carlos">Carlos</a></li>
					</div>
				</div>
				<span id = "mentor-title" class = 'mentor-title'>
						Clinton Anderson: Nuclear Electrician's Mate
				</span>
				<div class="dropdown ml-auto">
						<button class = "btn btn-primary button-color" style = "height: 60px; width: 60px; padding: 9px; border-radius: 50%;" onclick = "openNav()">
							<i class="far fa-question-circle fa-2x"></i>
						</button>
						<span id="user-display" style="vertical-align: -10px; font-size: 24px; padding-left: 8px; font-family: "Impact, Charcoal, sans-serif""></span>
						<button style="visibility:hidden"></button>
						<a href="http://ict.usc.edu" <class="navbar-brand" "mr-sm-2"><img src="/ICT.png"></a>
				</div>
		</nav>
		<div class = "wrap">	<!--https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_overlay-->
			<div id = "main-holder" class="container">
				<!--This is the video player area-->
				<div id="video-holder" class="row" style="padding-left: 10px; padding-right: 10px">
					<div id = "videoWrapper" class="embed-responsive embed-responsive-16by9">
						<video id = "videoPlayer" class ="video" webkit-playsinline="true" playsinline="true" controls="true" onclick="videoSwitch();" onerror="alert('Video not found');">
							<track id = "track" src="/clint/tracks/clintanderson_A1_1_1.vtt" kind="subtitles" srclang="en" label="English">
						</video>
					</div>
				</div>
				<!--This is the question/transcript area-->
				<div id="topic-holder" class="row" style="padding: 10px;">
					<div id = "main-box" class="col-xl-11 col-lg-10 col-md-10 col-sm-12 col-12">
						<div id = "topic-box" class = "topic-box"></div>
						<div id = "caption-box" class = "caption-box" readonly></div>
					</div>
					<div id = "button-row" class="col-xl-1 col-lg-2 col-md-2 d-none d-md-block">
						<div class="row button-row-cap">
							<button id = "button-caption" onclick="toCaption()" class = "btn button-caption">Transcript</button>
						</div>
						<div class="row button-row-choice">
							<button id = "button-choice" onclick="toChoices()" class = "btn button-choice" disabled=true>Topics</button>
						</div>
					</div>
				</div>
				<!--This is the input area-->
				<div id="input-holder" class="row" style="padding-right: 10px; padding-left: 10px">
					<div id = "input-box" class="col-xl-11 col-lg-11 col-md-11 col-sm-10 col-10">
						<div class = "text-box-setup">
							<textarea id="question-Box" class="form-input form-control" "scroll-pane" onkeydown="if (event.keyCode == 13) send()"></textarea>
							<button id="mic-button" class = "btn mic-setup mic-off" onclick = "watson()"><i class="fas fa-microphone fa-2x"></i></button>
							<button id="stop-button" style="display: none;" onclick = "stopWatson()" class = "btn mic-setup mic-on"><i class="fas fa-microphone fa-2x"></i></button>
						</div>
					</div>
					<div id = "mic-send-row" class="col-xl-1 col-lg-1 col-md-1 col-sm-2 col-2" style="padding-left: 10px">
						<div class="row button-row-enter">
							<button id= "send-button" onclick = "send()" class = "enter-button button-color btn"><i class="fas fa-arrow-right fa-2x"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="/index.js"></script>
</html>
