
		.navbar-pad{
			padding-top: 0.5%;
			padding-left: 1.5%;
			padding-right: 1.5%;
			padding-bottom: 1.5%;
		}
		.button-settings{
			width: 18.75%;
			background-color: #00BFFF;
			margin-left:0.8%;
		}
		.button-settings-mobile{
			width: 49%;
			height: 88px;
			background-color: #00BFFF;
			margin-left:0.8%;
			font-size: 45px;
		}
		.button-row-cap{
			padding-top: 5.5%;
			padding-bottom: 5.5%;
		}
		.button-row-choice{
			padding-top: 5.5%;
			padding-bottom: 5.5%;
		}
		.topic-box{
			height:150px;
			overflow-y:scroll;
			overflow-x:hidden;
			border:6px solid blue;
			background-color:#e3f2fd;
			padding:0.25%;
			white-space: normal;
		}
		.topic-box-mobile{
			height:210px;
			overflow-y:hidden;
			overflow-x:scroll;
			border:6px solid blue;
			background-color:#e3f2fd;
			padding:0.25%;
			white-space: nowrap;
			
		}
		.caption-box{
			height:150px;
			width:100%;
			overflow-y:scroll;
			overflow-x:hidden;
			border:6px solid blue;
			background-color:#e3f2fd;
			padding:0.25%;
			display:none;
		}
		.form-input{
			height:100px;
			width:99%;
		}
		body{
			background-color: #e6f9ff;
		}
		textarea {
			resize: none;
		}
		.button-caption{
			width: 100%;
			padding: 8px;
			min-width: 70px;
		}
		.button-choice{
			width: 100%;
			padding: 8px;
			min-width: 70px;
		}
        .video-wrapper{
            width: 920px;
            overflow:hidden;
            display:block;
            height: 1080px;
            margin-left: 15px;
        }
        .video{
            margin-left: -500px;
        }
     
