body {
  text-align: center;
}


#footer {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
}

#carousel {
  width: 100%;
  overflow-x: visible;
  overflow-y: hidden;
  white-space: nowrap;
}
#carousel .slide {
  position: relative;
  display: inline-block;
  border-radius: 5px;
  padding: 5px;
}
#carousel .selected {
  background-color: orange;
}
.spinner {
  position: absolute;
  top: 15%;
  left: 30%;
}


#video-container {
  position: relative;
}
.video {
  position: absolute;
  top: 0;
}
.video.fadeIn {
  opacity:1;
  transition: opacity 0.5s;
}
.video.fadeOut {
  opacity:0;
  transition: opacity 0.5s;
}
.visible {
  opacity: 1;
}
.invisible {
  opacity: 0;
}